@mixin nos1 {
    h1 {
        color: $color-oscuro;
        text-align: center;
        margin: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.245);
    }

    p {
        color: black;
        text-align: center;
        margin: 10px 10px 10px 10px;
        padding-top: 50px;

    }

    ul {
        text-decoration: none;
        font-size: 0.8rem;

        li {
            font-size: 0.8rem;
            padding-top: 10px;
            text-decoration: none;
        }

    }
}


.nosotros {
    width: 100%;
    min-height: 710px;
    text-align: center;
    background-image: url(../img/somos.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;


    h1 {
        margin-top: 50px;
        text-align: center;
        color: $color-blanco;
    }

    p {
        padding-top: 100px;
        text-align: right;
        margin-block: 25px;
        margin-inline: 10px;
        max-width: 50%;
        color: $color-blanco;
    }

}

.valores {
    @include nos1;
h2{
    text-align: center;
    margin-top: 50px;
    
}
    .contenedor {
        max-width: 1200px;
        margin: 0 auto 30px auto;



        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 8px;
    }

    .area1 {
        grid-column: span 5 / span 5;
    }

    .area2 {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }

    .area3 {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }

    .area4 {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }

    .area5 {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }

    .area6 {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }



    .card {



        img {
            width: 100px;
            margin: 1rem auto;
        }

        h3 {
            text-align: center;
        }

    }
    }