@mixin productos {
    width: 100%;
    text-align: center;
    padding-block: 50px;

    p {
        width: 100%;
        text-align: center;
        max-width: none;
        margin-inline: 0;
        padding: 20px;

    }

}





.productos1 {
    @include productos;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-image: url(../img/trigo-mano.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    color: $color-blanco;

    h1 {
        text-align: center;


    }

    .parrafo {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        min-height: 400px;
        align-items: center;


        p {
            text-align: right;
            margin-block: 20px;
            margin-inline: 10px;
            max-width: 50%;

        }
    }

}

.grid-prod {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(2, 250px);
    gap: 5px;
    grid-auto-rows: 250px;

    .prod {
        position: relative;
        padding: 10px;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            border: 2px solid $color-oscuro;
            border-radius: 10px;
            margin: auto;
        }

        h3 {
            position: absolute;
            top: 0;
            padding-top: 5px;
            color: $color-oscuro;
            margin: 10px 0 0 10px;
            text-shadow: $color-secundario 1px 2px 10px;
        }
    }

}

.productos2 {
    background-color: rgba(0, 0, 0, 0.819);



    @include productos;

    .boton2 {

        background-color: $color-principal;
        color: $color-blanco;
        padding: 8px 16px;
        border-radius: 10px;
        margin: 20px auto;
        text-decoration: none;


    }
}