@media (max-width: 1043px) {
    .destacado div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 745px) {


    /*!--------index-------*/
    .hero {
        height: 700px;

        .content-hero {

            h2 {
                font-size: 30px;
                padding: 50px;
                text-align: center;
            }

            p {
                font-size: 10px;
                padding-top: 25px;
                margin: 10px;
                text-align: center;
            }

            .hero a {
                padding: 10px;
                background-color: $color-secundario;
                border-radius: 50px;
                color: $color-blanco;
                font-size: 5px;
                text-decoration: underline;
                opacity: 90%;
                margin-top: 70px;
                display: inline-block;
                width: fit-content;
                margin-top: 10px;
            }
        }
    }


    .destacado {
        height: 100%;
    }

    .destacado div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;

    }




    /*!--------Productos-------*/

    .productos1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        h1 {
            font-size: 30px;
            padding-top: 10px;
        }

        .parrafo {

            p {
                font-size: 15px;

            }
        }
    }

    .grid-prod {
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 200px 200px;
        gap: 30px;
        grid-auto-rows: 200px;

        .prod {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            max-width: 500px;

            h3 {
                font-size: 25px;
            }
        }
    }

    .productos2 {
        font-size: 10px;

        p {
            font-size: 15px;
        }

        h2 {
            font-size: 25px;
        }
    }



    /*!--------nosotros-------*/

    .nosotros {
        background-position: right;
        height: 400px;

        h2 {
            font-size: 30px;
            padding-top: 25px;
        }

        p {
            font-size: 15px;
            padding-top: 15px;
            max-width: none;
        }
    }


    .ofrecemos {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }

    }

    .descripcion {
        ul {
            font-size: 15px;

        }
    }



.valores {
    ul {
        li {
            font-size: 15px;
        }
    }

}

.logistica {
    h2 {
        font-size: 30px;
        padding: 5px 0 10px;
    }

    p {
        strong {
            font-size: 12px;

        }
    }
}

.pedidos {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }

    h3 {
        font-size: 25px;
    }
}

/*!--------recetas-------*/

.recetas {
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
}

.receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


    div {
        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }

        ul {
            font-size: 15px;
        }
    }

}



/*!--------contacto-------*/

.contacto {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    .form {
        flex-direction: column;
    }
    .mb-3 {
    width: 100%;
}
}
/*!-----------footer---------*/

footer {
    text-align: center;
    color: $color-blanco;
    padding-block: 20px;

    background-color: $color-terciario;
    ;

    div {
        transition: transform 0.3s ease;

        a {
            img {
                height: 30px;
            }
        }
    }
}

p {
    font-size: 20px;


}

}
















